{% if player %}
  {% if video %}
    <video class="{{ player_class }}"  style="{{ player_style }}" src="{{ media }}" poster="{{ poster }}" type="video/mp4" controls preload></video>
  {% else %}
    <audio class="{{ player_class }}" style="{{ player_style }}" src="{{ media }}" type="audio/mp4" controls preload></audio>
  {% endif %}
{% endif %}

<div class="{{ transcript_class }}" style="{{ transcript_style }}" data-player={{ player_selector }}>{{ transcript | raw }}</div>

{{ attach_library('hyperaudio_player/hyperaudio_player') }}
<script>
window.onload = function() {
  // minimizedMode is still experimental
  var minimizedMode = true;
  hyperaudiolite.init("{{ transcript_selector }}", "{{ player_selector }}", minimizedMode);
  
  if (ShareThis) {
     ShareThis({
       sharers: [ ShareThisViaTwitter, ShareThisViaFacebook ],
       selector: "{{ transcript_selector }}"
     }).init();
  }
}
</script>
