{% if video %}
<video id="hyperplayer" style="z-index: 5000000; position:relative; width:{{ width }}; height: {{ height }}" src="{{ media }}" type="video/mp4" poster="{{ poster }}" controls preload></video>
{% else %}
<audio id="hyperplayer" style="z-index: 5000000; position:relative; width:{{ width }}" src="{{ media }}" type="audio/mp4" controls preload></audio>
{% endif %}

<div id="hypertranscript" style="overflow-y:scroll; height: {{ transcript_height }}; width: {{ transcript_width }};position:relative; border-style:dashed; border-width: 1px; border-color:#999; padding: 8px">{{ transcript | raw }}</div>

{{ attach_library('hyperaudio_player/hyperaudio_player') }}
